/*  keeping this for reference, please see Amazonian file for completed project------------------------------------
--------------------------------------------------------

* {
    box-sizing: border-box;
}

.container {  display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-template-rows: 0.5fr 1.7fr 0.7fr;
    gap: 0px 0px;
    width: auto;
    grid-auto-flow: dense;
    grid-template-areas:
      ". icon ."
      ". box ."
      ". footer .";
}

.icon {
    grid-area: icon; 
    justify-self: center;
}

.box {
    grid-area: box;
    position: relative;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 4px;
    justify-self: center;
    align-items: center;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0%;
    
}

.footer {
    grid-area: footer;
    align-self: center;
}

.footer li{
    list-style-type: none;
    display: inline;
}
#help {
    justify-items: center;
    align-items: center;
}
