* {
    font-family: 'Roboto', Arial, sans-serif;
}
html {
    height: 100%;
    background-color: rgb(238, 235, 235);
}

.row{
    justify-content: center;
    text-align: center;
}
#box{
    border: solid 1px rgb(187, 186, 186);
    border-radius: 4px;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
#box h1{
    letter-spacing: 0.05em;
    text-align: left;
    font-size: 200%;
    font-weight: 400;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
}

.form {
    text-align: left;
    font-stretch: extra-expanded;
    font-weight: 900;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 3%;
}
.form input {
    width: 100%;
    
    margin-bottom: 3%;
}
.form button{
    width: 100%;
    border-color: rgb(114, 113, 113);
    background-color: #ffdb6f
}
#box p {
    font-size: 80%;
}
#need-help {
    text-align: left;

}
#need-help a{
    text-decoration: none;
}
#btm-row {
    border-bottom: 2px solid darkgray;
    padding-bottom: 25px;
}
#btm-row> div> button {
    width: 100%;
    background-color: rgb(235, 233, 233);
    border-color: grey;
    font-size: 90%;
}

#footer-bit> ul> li {
    list-style-type: none;
    display: inline;
    font-size: 70%;
    padding: 10px;
    
}
#footer-bit> ul> li a{
    text-decoration: none;
}
.container-2 {
    background: linear-gradient(0deg,rgb(240, 239, 239), rgb(209, 209, 209));
}
h6 {
    overflow: hidden;
    text-align: center;
    color: rgb(114, 113, 113);
    font-size: 90%;
}

h6:before, h6:after {
    background-color: rgb(223, 223, 223);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h6:before {
    right: 00.05em;
    margin-left: -50%;
}
h6:after {
    left: 0.5em;
    margin-right: -50%;
}